<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<style>
body{
	background-color:#4db6ac;
	
	font-size: medium;
}

.loginForm{
	margin:20%;
	width: 100%;
}
</style>
</head>
<body class="valign-wrapper">

	<!-- <a href="{% url 'user_register' %}"><h2> Regista-te!! </h2></a> -->

	<form action="login/" method="post" class="center-align valign loginForm">
		{% csrf_token %}
		<h2> .works </h2>
		{{loginForm}}
		<input type="submit" value="Log In" />
	</form>


</body>
</html>