<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  {% load static %}
  {% csrf_token %}
  <title>.estágios</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>
<body id="internships">
  {% load bootstrap3 %}

  {% include 'navbar.html' %}

  <ul class="internship-list">
    {% for internship in internship_list %}
      <li class="internship-id"><a href="{% url 'internship_details' internship.id %}">
        <div class="internship-line">
          <img src="{% static "logo1.png" %}" width=60px/>
          <div class="internship-data">
            <span class="name-internship"><span
              class="internship-title">{{ internship.title }}</span> <br> by {{ internship.company.name }}</span>
            <ul class="details-internship">
              <div class="internship-detail">
                <img src="{% static "Wlocation.png" %}" width=20px/>
                <li>{{ internship.location }}</li>
              </div>
              <div class="internship-detail">
                <img src="{% static "Wduration.png" %}" width=20px/>
                <li>{{ internship.duration }} meses</li>
              </div>
              <div class="internship-detail">
                <img src="{% static "Wfullparttime.png" %}" width=20px/>
                <li>{{ internship.working_time }}</li>
              </div>
              <div class="internship-detail">
                <img src="{% static "Wvagas.png" %}" width=20px/>
                <li>{{ internship.n_positions }} vaga(s)</li>
              </div>
              <div class="internship-detail">
                <img src="{% static "Weuro.png" %}" width=20px/>
                <li>{{ internship.payment }}</li>
              </div>
              <div class="internship-detail">
                <img src="{% static "Wplay.png" %}" width=20px/>
                <li>26/12/2016</li>
              </div>
            </ul>
          </div>
        </div>
      </a>
        <div class="dropmore">
          <button class="more">Mais</button>
          <div class="descestag">
            <p style="max-width: 50%;"> {{ internship.description }} </p>
            <div class="register">
              <h2 class="h2estag want"> .quero! </h2>
              <a href="{% url 'inscription_addition' internship.id %}">
                <img src="{% static "Wadd.png" %}" width=30px/>
              </a>
            </div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script>
            $(document).ready(function () {
              $('.more').click(function () {
                $('.descestag').toggleClass('open');
              });
            });
          </script>
        </div>
      </li>
    {% endfor %}
  </ul>
  <ul class="filtrocat">
    <li>
      <a href="{% url 'index' %}">Teste cenas1</a>
      <button id="fc1">Todos</button>
    </li>
    <li>
      <a href="{% url 'filter_internship' category_=1 %}">Teste cenas</a>
      <button id="fc2">Verão</button>
    </li>
    <li>
      <a href="{% url 'filter_internship' category_=3 %}">Teste cenas</a>
      <button id="fc3">Profissional</button>
    </li>
  </ul>
  {% include 'footer.html' %}
</body>
</html>
