<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12px;
}
</style>
</head>
<body>
    {% load bootstrap3 %}

   

    <form action="{% url 'user_logout' %}" method="post" class="center-align valign">
        {% csrf_token %}

        <input type="submit" value="Log Out" />
    </form>

    {% if is_company %}
        <a href="{% url 'company_area' %}"> Area da Companhia </a>
    {% endif %}
    <h1>Available Internships</h1> <br>
    <ul>
    {% for internship in internship_list %}
        <li><a href="{% url 'internship_details' internship.id %}"> 
            {{internship.title}} by {{internship.company.name}} 
        </a> </li>
    {% endfor %}
    </ul>

</body>
</html>