{% load static %}

<nav>
  <ul>
    <li style="background-color:#0a273b"><img src="{% static "logo.works.jpg" %}" class="logo"/></li>
    <li class="hovernav"><a class="active" href="#estagios">.estágios</a></li>
    <li class="hovernav"><a href="#perfil">.perfil</a></li>
    <li class="dropdown">
        <form action="{% url 'user_logout' %}" method="post" class="center-align valign">
          {% csrf_token %}
          <input type="submit" value=".sair" class="dropunit"/>
        </form>
    </li>
  </ul>
</nav>
