{% load static %}

<nav>
  <ul>
    <li style="background-color:black"><img src="{% static "logo.works.jpg" %}" class="logo"/></li>
    <li class="hovernav"><a class="active" href="#estagios">.estágios</a></li>
    <li class="hovernav"><a href="#perfil">.perfil</a></li>
    <li class="dropdown" style="float:right">
      <a href="javascript:void(0)" class="dropbtn"><img src="{% static "logo.works.jpg" %}" class="logo"/></a>
      <div class="dropdown-content">
        <a href="#" class="dropunit">Editar Perfil</a>
        <form action="{% url 'user_logout' %}" method="post" class="center-align valign">
          <input type="submit" value="Sair" class="dropunit"/>
        </form>
      </div>
    </li>
  </ul>
</nav>
