<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <head>
    {% load static %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "stylelanding.css"  %}">
    <script src="{% static "extras.js" %}"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div id="landingOne" class="landingInfo" style="text-align:center;" >
      <div id="inform">
        <!-- ______________________O QUE É?_______________________ -->
        <div id="oquee">
          <h3 id="h3-1"> O que é?</h3>
          <div class="oqueeconteudo">
            <ul class="filtrocat">
              <li><button id="fc1" style="background-color:white;">Verão</button></li>
              <li><button id="fc2" style="background-color:white;">Curricular</button></li>
              <li><button id="fc3" style="background-color:white;">Profissional</button></li>
            </ul>
            <div id="description">
              <p>O .works é um evento dirigido para os estudantes do ensino superior que procuram um estágio de Verão, Curricular ou Profissional nas áreas da tecnologia, engenharia e design. </p>
              <p>Terás a oportunidade de conhecer empresas e concorrer a um estágio que estas tenham para oferecer.</p>
              <p>O objetivo é eliminar as dificuldades sentidas pelos estudantes, na procura de estágios, permitindo um contacto mais próximo e real entre estudantes e empresas/startups.</p>
            </div>
          </div>

          <!-- ______________________FORMATO_______________________ -->
          <div id="format">
            <h3> Formato</h3>
            <div class="oqueeconteudo formato">
              <div id="formato1">
                <div id="formato1-1">
                  <h3>.works | 14h-19h</h3> <br>
                  <p>Nesta primeira parte do evento terás oportunidades diferentes de comunicar com as empresas e startups presentes. É a tua chance de, durante uma entrevista de 5 minutos, conseguires o estágio para o qual te candidataste.</p>
                </div>
                <img class="foto" src="{% static "foto1.jpg" %}" alt="foto1">
              </div>
              <div id="formato2">
                <div id="formato2-1">
                  <h3>.moment | 19h-22h</h3> <br>
                  <p>Momento descontraído onde empresas e participantes desfrutam de um coffee-break. Terminaremos em grande com a 5ª edição do coimbra.codes para acabar o dia com as usuais talks sobre código e programação.</p>
                </div>
                <img class="foto" src="{% static "foto2.jpg" %}" alt="foto2">
              </div>
            </div>
          </div>

          <!-- ______________________ONDE?_______________________ -->
          <h3> Onde?</h3>
          <div class="map-container">
            <iframe id="mapa" width="100%" height="350" frameborder="0" style="border:0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.9426400914354!2d-8.424905074854554!3d40.21033886499096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd22f9095f661e93%3A0xe2cee8efb228845a!2sCentro+Cultural+Dom+Dinis!5e0!3m2!1spt-PT!2spt!4v1482929993190"></iframe>
          </div>
          {% include 'footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
