* {
  margin: 0;
  padding: 0;
}

body {    
  font-size:12px;
  background-color: #1B384C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  width: 100vw;
  color:whitesmoke;
  overflow-x: hidden;
}

h1:hover, h2:hover {
  cursor:default;
}

h2 {
  font-size: 1.3em;
}

button:hover {
  cursor:pointer;
}

ul {
  list-style:none;
}

/*------------------- LANDING PAGE -------------------------------*/
#landingOne {
  height: 100vh;
  text-align: center;
}

input, a, .button1, .internship-list li, .filtrocat button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

#inform {
  z-index: 1;
  position:absolute;
  width:100%;
}

.loginForm {
  width: 26%;
  margin:0 auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

label {
  font-size:1.2em;
}

#login {
  margin-top:3vh;
  width: 100%;
  text-align: left;
}

#Dots img {
  width: 100vw;
}

#Dots {
  z-index: 0;
  position: absolute;
}

.in, .button1 {
  margin:1vh 0;
  border: none;
  border-radius: 15vw;
  padding: 0.5vw 1vh;
}

.in {
  width:96.5%;
  background-color: whitesmoke;
}

.buttonlogin:hover, #setascroll:hover {
  cursor:pointer;
}

.button1 {
  background-color: whitesmoke;
  color:black;
  text-align:center;
  width:30%;
  font-size:1.2em;
  display: inline-block;
}

.button2 {
  float: right;
  padding: 0.5vw 1vh;
}

/*------------------- STUDENTREGISTER -------------------------------*/
#register-form {
  margin: 0 10vw;
  display: flex;
  justify-content: space-between;
  font-size:1.1em;
}

header {
  display:flex;
  align-items: center;
  flex-direction: row;
  margin: 8vh 10vw;
}

.topleft {
  font-size:3em;
  display:flex;
  align-items: center;
  flex-direction: row;
}

.logo {
  width:74px;
  border-radius: 7px;
}

.in2, .in3 {
  width:13vw;
  display: flex;
}

.in3 {
  border-radius: 2vw;
  height: 17.5px;
}

.row {
  display: flex;
  flex-direction: column;
}

#register {
  margin-right:10vw;
  float:right;
  padding-left:40px;
  padding-bottom: 22.75px;
  background-image: url(check.png);
  background-color: #1B384C;
  background-size: contain;
  border:none;
}

/*------------------- NAV MENÚ -------------------------------*/
.logo{
  width:50px;
  border-radius: 7px;
}

nav ul{
  font-size:1.6em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 10vh;
}

nav li {
  float: left;
  height: 100%;
  display:flex;
  align-items: center;

  padding:0 2vw;
}

nav li a, nav li input{
  color: white;
  border:none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10vh;
  right: 2vw;
  z-index: 1;  
}

.dropunit {
  font-size:1em;
  background-color: #333;
  width:10vw;
  text-align: center;
  padding:1vh 0;
}

.hovernav:hover, .dropunit:hover{
  background-color: black;
  cursor:pointer;
}

.dropdown:hover .dropdown-content {
  display:flex;
  flex-direction: column;
}

/*------------------- estagios -------------------------------*/
#internships {
  background-color: whitesmoke;
}

header h2 {
  margin-left:2vw;
}

.h2internship {
  color: black;
}

.internship-list {
  float: left;
}

.internship-id {
  margin:25px 10vw;
  border-radius: 7px;
  padding: 25px 30px;
  width:925px;
  font-size:1.2em;
  background-color: #53917e;
}

.internship-id a {
  color: white;
}

.internship-line {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.internship-data {
  width: 100%;
  padding-left : 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.internship-title {
  font-size:1.6em;
}

.details-internship {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#internships .internship-detail {
  padding: 0 15px;
  max-width: 30%;
}

.dropmore{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.more{
  margin-top:15px;
  border:solid whitesmoke;
  border-radius:7px;
  background:none;
  color:white;
  padding:5px;
}

.descestag{
  overflow: hidden;
  height: 0;
}

.open {
  overflow: visible;
  height: 100%;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#internships .filtrocat {
  height: 50vh;
  position: fixed;
  right:0;
  margin-right:10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#internships .filtrocat button, .ft2 button {
  width:95px;
  height: 95px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: whitesmoke;
  color:white;
}

#fc1 {
  background-image: url(verao.png);
}
#fc2 {
  background-image: url(curricular.png);
}
#fc3 {
  background-image: url(profissional.png);
}

.filtrocat button:hover {
  cursor:default;
}

/*------------------- ESTAGIO! -------------------------------*/

.internship {
  background-color: whitesmoke;
  color:black;
}
.internship header {
  width:555px;
}

#content-internship {
  width:458px;
  margin-left: 10vw;
  padding: 37px 46px;
  margin-bottom: 8vh;
  border: 5px solid black;
  border-radius: 7px;
}

#name-internship {
  float:left;
  padding:0 1.5vw;
}

#head-internship {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#box-internship-name {
  width:290px;
  border-radius: 15vw;
  padding: 5px 16px;
  font-size:1.2em;
  background-color: #53917e;
}

#logo-title {
  display: flex;
  align-items: flex-start;
  color:white;
  width: 100%;
  align-items: center;
}

.internship .internship-detail {
  width:33.33%;
  padding-top: 5vh;
}

.internship-detail {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.internship-detail img {
  padding-bottom: 7px;
}

.want {
  font-size:2em;
  padding-right: 10px;
}

.register {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 12.66%;
}

/*_______________INSCREVER_______________*/

.inscription #register {
  float:left;
  margin:5vh 37vw;
}

.inscription #content-internship {
  height:45vh;
  border: none;
  margin-bottom:0;
  font-size:1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:0;
}

.inscription #content-internship input {
  margin:1vh 0;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  height:13vh;
}

/*_______________responsividade_______________*/
@media (max-width:920px) {
  .loginForm{
    width: 36%;
  }

  #Dots img {
    width:100vw;
    height: 100vh;
  }
}

@media (max-width:768px) {
  .loginForm{
    width: 46%;
  }

  .loginForm .button1 {
    width:42%;
  }

  .in2,.in3, .pink, .topright .button1 {
    width:15vw;
  }

  .internship-id {
    width:60vw;
  }

  .internship-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1em;
  }

  .name-internship {
    padding-left: 15px;
  }

  .details-internship {
    margin-top:15px;
    justify-content: space-between;
  }

  #content-internship {
    width:60vw;
    padding: 4vh 3vw;
  }

  .internship header {
    width:67vw;
  }

  .internship .h2internship {
    font-size: 1em;
  }

  .ft2 button {
    width:70px;
    height: 70px;  
  }
}

@media (max-width:395px) {

  .loginForm {
    margin-top: 1.5vh;
  }

  .loginForm {
    width: 60%;
  }

  header {
    margin:7vh 7vw;
  }

  header h2 {
    margin-left:5vw;
    font-size:0.85em;
  }

  #register-form {
    display:inherit;
  }

  .in2, .in3 {
    width:65vw;    
  }

  #register {
    margin: 0 50vw 5vh 0;
  }

  #internships .filtrocat {
    display: none;
  }

  .internship-title {
    font-size: 1.2em;
    text-decoration: underline;
  }

  #content-internship {
    width:70vw;
    padding:5vw;
    margin-left:7vw;
  }

  .internship header {
    width:82vw;
  }

  .internship .h2internship {
    font-size: 0.8em;
  }
}
